body {
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    margin: 0;
    background-color: #252829;
}


/*cabeçalho*/

.cabecalho {
    background-color: #0f1c26;
    min-height: 104px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.pesquisa {
    min-width: 456px;
    min-height: 56px;
    background-color: #171b1e;
    color: #fdfdfd;
    border: none;
    padding-left: 15px;
    background-image: url("pics/icons8-pesquisar-64.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
    padding-right: 15px;
    background-origin: content-box;
}

.cabecalho button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: none;
    border: none;
    color: white;
    min-width: 150px;
}

.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 16px;
}

.fotoDoPerfil {
    max-width: 60px;
    margin-left: 10px;
}


/*informações iniciais*/

.cadastro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infoPessoais {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoIniciais {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 744px;
    background-color: #171b1e;
    color: #fdfdfd;
    margin-bottom: 16px;
}

.infoIniciais h2 {
    padding-left: 32px;
}

.linha1 {
    display: flex;
    flex-direction: row;
}

.linha1 input {
    min-width: 328px;
    margin-bottom: 30px;
}

.divInput {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 32px;
    margin-right: 32px;
}

.infoPessoais input {
    max-width: 328px;
    min-height: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: #0b1217;
    border: none;
    padding-left: 16px;
}

.infoPessoais input:hover {
    border: 1px solid #8c8c8c;
}


/*sacola com pedido*/

.sacolaGeral {
    max-height: 580px;
    min-width: 312px;
    background-color: #171b1e;
    margin-left: 60px;
    position: sticky;
    top: 0;
}

.sacolaPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.sacolaPrincipal p {
    font-size: 16px;
    margin-top: 0px;
}

.sacolaComPedido {
    max-height: 450px;
    min-width: 312px;
    background-color: #171b1e;
    margin-left: 60px;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
}

.sacolaComPedido h2 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
}

.filmeSelecionado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 312px;
    margin-top: 30px;
}

.infoDeFilmeSelecionado {
    display: flex;
    flex-direction: row;
    align-content: center;
    max-height: 67px;
}

.posterDoFilmes {
    background-color: hotpink;
    min-width: 43px;
    min-height: 67px;
}

.detalhesDoFilme {
    margin-left: 14px;
    font-size: 16px;
}

.adicionarItens {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.adicionar {
    background-color: #0b1217;
    color: #6fcf97;
    font-size: 22px;
    border: none;
    max-height: 26px;
    min-width: 26px;
    text-align: center;
}

.adicionar:hover {
    background: linear-gradient( 0deg, rgba(107, 107, 107, 0.37), rgba(107, 107, 107, 0.37));
}

.quantidade {
    margin-left: 14px;
    margin-right: 14px;
}

.remover {
    background-color: #0b1217;
    color: #ff7366;
    font-size: 20px;
    border: none;
    max-height: 26px;
    min-width: 26px;
    text-align: center;
}

.remover:hover {
    background: linear-gradient( 0deg, rgba(107, 107, 107, 0.37), rgba(107, 107, 107, 0.37));
}

.remover2 {
    background-color: #0b1217;
    background-image: url("pics/icons8-remover-24.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    max-height: 26px;
    min-width: 26px;
    text-align: center;
}

.remover2:hover {
    background: linear-gradient( 0deg, rgba(107, 107, 107, 0.37), rgba(107, 107, 107, 0.37));
}

.confirmar {
    min-width: 338px;
    min-height: 40px;
    margin-top: 3px;
    background-color: #e25ebf;
    color: #fdfdfd;
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.inserirCupom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
}

.inserirCupom input {
    min-width: 310px;
    min-height: 40px;
    margin-top: 3px;
    background-color: #0b1217;
    color: #fdfdfd;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    background-image: url("pics/icons8-bilhete-48.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
    background-origin: content-box;
}